<?xml version="1.0" encoding="UTF-8"?>
<!-- ==== #29. mapper 기본설정 ==== -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ==== #29. 루트 엘리먼트 & 네임스페이스 설정(프로젝트 전체내에서 유일해야 한다.) ==== -->
<!--  mapper 의 namespace(네임스페이스)가 중복되면, 작동하지 않는다. -->
<mapper namespace="com.spring.wanted.ProjectWanted.common.mapper.InterCommonMapper">
			<resultMap type="HashMap" id="SkillMap">
				<result property="tech_code" column="tech_code" javaType="String" />
				<result property="tech_name" column="tech_name" javaType="String" />
			</resultMap>
		
		<select id="getSkill" resultMap="SkillMap">
			select tech_code , tech_name 
			from tbl_tech 
			where tech_code between 1000 and 1009 
		</select>
		
		<select id="searchSkill" parameterType="String" resultMap="SkillMap">
				SELECT tech_code, tech_name
				FROM
				(
				    select rownum AS RNO , tech_code, tech_name
				    from
				    (
				        SELECT tech_code, tech_name
				    FROM tbl_tech
				    WHERE LOWER(tech_name) LIKE '%' || LOWER(#{input_val}) || '%'
				    ORDER BY CASE WHEN LOWER(tech_name) LIKE CONCAT(LOWER(#{input_val}), '%') THEN 0 ELSE 1 END, LOWER(tech_name)
				    )V
				)T
				WHERE RNO between 1 and 4 
		</select>
		
		<select id="comp_checkUserid" parameterType="String" resultType="int">
			select count(*) from TBL_company where company_id = #{userid}
		</select>

		<insert id="register_comp" parameterType="com.spring.wanted.ProjectWanted.company.model.CompanyVO">
			insert into tbl_company ( COMPANY_ID, SERIAL_NO , FK_REGION_DETAIL_CODE ,  PWD , NAME , DETAILS , EMP_COUNT ,  IMAGE , ADDRESSS ,  COMPANY_CODE )
			values ( #{company_id} , #{serial_no} , 1 , #{pwd} , #{name} ,  '하이하이' , #{emp_count} , 'default.png' , ' 서울시 강남구' , seq_company.nextval )
		</insert>


</mapper>