<?xml version="1.0" encoding="UTF-8"?>
<!-- ==== #29. mapper 기본설정 ==== -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ==== #29. 루트 엘리먼트 & 네임스페이스 설정(프로젝트 전체내에서 유일해야 한다.) ==== -->
<!--  mapper 의 namespace(네임스페이스)가 중복되면, 작동하지 않는다. -->
<mapper namespace="com.spring.wanted.ProjectWanted.member.mapper.InterMemberMapper">

		<select id="checkUserid" parameterType="String" resultType="int">
			select count(*) from TBL_MEMBER where userid = #{userid}
		</select>

		<select id="login" parameterType="String" resultType="com.spring.wanted.ProjectWanted.member.model.MemberVO">
				select  userid , pwd , name , nickname , mobile , profile_image , resume_count 
				from tbl_member  where userid = #{username}
		</select>
		
		<insert id="register" parameterType="com.spring.wanted.ProjectWanted.member.model.MemberVO" >
			insert into tbl_member ( userid , pwd , name , nickname , mobile , profile_image , resume_count )  
			values ( #{userid} , #{pwd} , #{name} , #{nickname} , #{mobile} , 'profile_default.png' ,  0 ) 
		</insert>

		<select id="login_comp" parameterType="String" resultType="com.spring.wanted.ProjectWanted.company.model.CompanyVO">
				select COMPANY_ID ,  SERIAL_NO , FK_REGION_DETAIL_CODE , PWD , NAME , DETAILS , EMP_COUNT , IMAGE , ADDRESSS , COMPANY_CODE 
				from tbl_company where company_id = #{userid}
		</select>

		<select id="getPostVO" parameterType="int"  resultType="com.spring.wanted.ProjectWanted.post.model.PostVO">
			select post_code , fk_company_id , fk_duty_code , career , subject , info , image , createday , salary , mainduty, quality , deadline ,viewcount, pay_status
			from tbl_post where post_code = #{post_code}
		</select>
		
		<select id="getCompanyVO" parameterType="int" resultType="com.spring.wanted.ProjectWanted.company.model.CompanyVO">
				select C.company_id , C.name , C.details ,C.EMP_COUNT , C.ADDRESSS , C.IMAGE , R.REGION_NAME , D.REGION_DETAIL_NAME 
				from
				(
				select post_code , fk_company_id , subject 
				from tbl_post 
				where post_code = #{post_code}
				)P
				join tbl_company C
				ON P.fk_company_id = C.COMPANY_ID
				join tbl_region_detail D
				ON C.FK_REGION_DETAIL_CODE = D.REGION_DETAIL_CODE
				JOIN TBL_REGION R
				ON D.FK_REGION_CODE = R.REGION_CODE
		</select>
		
		<select id="getImageList" parameterType="String">
			select image_name , fk_company_id from tbl_detail_image
			where fk_company_id = #{company_id}
		</select>

</mapper>