<?xml version="1.0" encoding="UTF-8"?>
<!-- ==== #29. mapper 기본설정 ==== -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ==== #29. 루트 엘리먼트 & 네임스페이스 설정(프로젝트 전체내에서 유일해야 한다.) ==== -->
<!--  mapper 의 namespace(네임스페이스)가 중복되면, 작동하지 않는다. -->
<mapper namespace="com.spring.wanted.ProjectWanted.member.mapper.InterMemberMapper">

		<select id="checkUserid" parameterType="String" resultType="int">
			select count(*) from TBL_MEMBER where userid = #{userid}
		</select>

		<select id="login" parameterType="String" resultType="com.spring.wanted.ProjectWanted.member.model.MemberVO">
				select  userid , pwd , name , nickname , mobile , profile_image , resume_count 
				from tbl_member  where userid = #{username}
		</select>
		
		<insert id="register" parameterType="com.spring.wanted.ProjectWanted.member.model.MemberVO" >
			insert into tbl_member ( userid , pwd , name , nickname , mobile , profile_image , resume_count )  
			values ( #{userid} , #{pwd} , #{name} , #{nickname} , #{mobile} , '123.png' ,  0 ) 
		</insert>





</mapper>