<?xml version="1.0" encoding="UTF-8"?>
<!-- ==== #29. mapper 기본설정 ==== -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ==== #29. 루트 엘리먼트 & 네임스페이스 설정(프로젝트 전체내에서 유일해야 한다.) ==== -->
<!--  mapper 의 namespace(네임스페이스)가 중복되면, 작동하지 않는다. -->
<mapper namespace="com.spring.wanted.ProjectWanted.post.mapper.InterPostMapper">
	
	<!-- Job 데이터 불러오기	 -->
	<resultMap type="HashMap" id="getJobList_Map">
		<result property="job_code" 	column="job_code" javaType="String" />
		<result property="job_name" 	column="job_name" javaType="String" />
	</resultMap>
	<select id="getJobList" resultMap="getJobList_Map">
		select job_code, job_name 
		from tbl_job
	</select>
	
	<!-- Duty 데이터 불러오기	 -->
	<resultMap type="HashMap" id="getDutyList_Map">
		<result property="duty_code" 	column="duty_code" 		javaType="String" />
		<result property="fk_job_code" 	column="fk_job_code" 	javaType="String" />
		<result property="duty_name" 	column="duty_name" 		javaType="String" />
	</resultMap>	
	<select id="getDutyList" resultMap="getDutyList_Map">
		select duty_code, fk_job_code, duty_name
		from tbl_duty
		where fk_job_code = #{job_code}

	</select>

	<!-- region 데이터 불러오기	 -->
	<resultMap type="HashMap" id="getRegionList_Map">
		<result property="region_code" 	column="region_code" javaType="String" />
		<result property="region_name" 	column="region_name" javaType="String" />
	</resultMap>
	<select id="getRegionList" resultMap="getRegionList_Map">
		select region_code, region_name
		from tbl_region
		order by region_code asc
	</select>


	<!-- region_detail 데이터 불러오기	 -->
	<resultMap type="HashMap" id="getRegionDetailList_Map">
		<result property="region_detail_code" 	column="region_detail_code" 		javaType="String" />
		<result property="fk_region_code" 		column="fk_region_code" 			javaType="String" />
		<result property="region_detail_name" 	column="region_detail_name" 		javaType="String" />
	</resultMap>	
	<select id="getRegionDetailList" resultMap="getRegionDetailList_Map">
		select region_detail_code, fk_region_code, region_detail_name
		from tbl_region_detail
		where fk_region_code = #{region_code}
		

	</select>

	<!-- 공고리스트 데이터 불러오기	 -->
	<resultMap type="HashMap" id="getPostList_Map">
		<result property="company_id" 				column="company_id" 			javaType="String" />
		<result property="fk_region_detail_code" 	column="fk_region_detail_code"  javaType="String" />
		<result property="name" 					column="name" 					javaType="String" />
		<result property="company_code" 			column="company_code" 			javaType="String" />
		<result property="fk_region_code" 			column="fk_region_code" 		javaType="String" />
		<result property="region_name" 				column="region_name" 			javaType="String" />
		<result property="region_detail_code" 		column="region_detail_code" 	javaType="String" />
		<result property="region_detail_name" 		column="region_detail_name" 	javaType="String" />
		<result property="post_code" 				column="post_code" 				javaType="String" />
		<result property="fk_company_id" 			column="fk_company_id" 			javaType="String" />
		<result property="fk_duty_code" 			column="fk_duty_code" 			javaType="String" />
		<result property="career" 					column="career" 				javaType="String" />
		<result property="subject" 					column="subject" 				javaType="String" />
		<result property="info" 					column="info" 					javaType="String" />
		<result property="image" 					column="image" 					javaType="String" />
		<result property="createday" 				column="createday" 				javaType="String" />
		<result property="salary" 					column="salary" 				javaType="String" />
		<result property="mainduty" 				column="mainduty" 				javaType="String" />
		<result property="quality" 					column="quality" 				javaType="String" />
		<result property="deadline" 				column="deadline" 				javaType="String" />
		<result property="viewcount" 				column="viewcount" 				javaType="String" />
		<result property="pay_status" 				column="pay_status" 			javaType="String" />
	</resultMap>
	<select id="getPostList" resultMap="getPostList_Map"> 
		WITH 
		region_with AS
		(select fk_region_code, region_name, region_detail_code, region_detail_name
		from tbl_region A join tbl_region_detail B
		on A.region_code = B.fk_region_code),
		company_post_with AS
		(select   company_id, fk_region_detail_code, name, company_code, POST_CODE, FK_COMPANY_ID, FK_DUTY_CODE, CAREER, SUBJECT, INFO, D.IMAGE AS IMAGE, CREATEDAY, SALARY, MAINDUTY, QUALITY, DEADLINE, VIEWCOUNT, PAY_STATUS
		from tbl_company C join tbl_post D
		on C.company_id = D.fk_company_id
		where PAY_STATUS = '1')
		
		select company_id, fk_region_detail_code, name, company_code, fk_region_code, region_name, region_detail_code, region_detail_name,
			   POST_CODE, FK_COMPANY_ID, FK_DUTY_CODE, CAREER, SUBJECT, INFO, IMAGE, CREATEDAY, SALARY, MAINDUTY, QUALITY, DEADLINE,
			   VIEWCOUNT, PAY_STATUS
		from company_post_with A join region_with B
		on A.fk_region_detail_code = B.region_detail_code
		where TO_CHAR(createday, 'yy/mm/dd') &lt; TO_CHAR(sysdate+1, 'yy/mm/dd')
		 and TO_CHAR(deadline, 'yy/mm/dd') >= TO_CHAR(sysdate, 'yy/mm/dd')
	</select>

	<!-- 검색필터를 거친 공고리스트 불러오기 -->
	<resultMap type="HashMap" id="getPostListWithFilters_Map">
		<result property="company_id" 				column="company_id" 			javaType="String" />
		<result property="fk_region_detail_code" 	column="fk_region_detail_code"  javaType="String" />
		<result property="name" 					column="name" 					javaType="String" />
		<result property="company_code" 			column="company_code" 			javaType="String" />
		<result property="fk_region_code" 			column="fk_region_code" 		javaType="String" />
		<result property="region_name" 				column="region_name" 			javaType="String" />
		<result property="region_detail_code" 		column="region_detail_code" 	javaType="String" />
		<result property="region_detail_name" 		column="region_detail_name" 	javaType="String" />
		<result property="post_code" 				column="post_code" 				javaType="String" />
		<result property="fk_company_id" 			column="fk_company_id" 			javaType="String" />
		<result property="fk_duty_code" 			column="fk_duty_code" 			javaType="String" />
		<result property="career" 					column="career" 				javaType="String" />
		<result property="subject" 					column="subject" 				javaType="String" />
		<result property="info" 					column="info" 					javaType="String" />
		<result property="image" 					column="image" 					javaType="String" />
		<result property="createday" 				column="createday" 				javaType="String" />
		<result property="salary" 					column="salary" 				javaType="String" />
		<result property="mainduty" 				column="mainduty" 				javaType="String" />
		<result property="quality" 					column="quality" 				javaType="String" />
		<result property="deadline" 				column="deadline" 				javaType="String" />
		<result property="viewcount" 				column="viewcount" 				javaType="String" />
		<result property="pay_status" 				column="pay_status" 			javaType="String" />
	</resultMap>
	<select id="getPostListWithFilters" resultMap="getPostListWithFilters_Map" parameterType="java.util.List">
		WITH 
		region_with AS
		(select fk_region_code, region_name, region_detail_code, region_detail_name
		from tbl_region A join tbl_region_detail B
		on A.region_code = B.fk_region_code),
		
		company_post_with AS
		(select   company_id, fk_region_detail_code, name, company_code, POST_CODE, FK_COMPANY_ID, FK_DUTY_CODE, CAREER, SUBJECT, INFO, D.IMAGE AS IMAGE, CREATEDAY, SALARY, MAINDUTY, QUALITY, DEADLINE, VIEWCOUNT, PAY_STATUS
		from tbl_company C join tbl_post D
		on C.company_id = D.fk_company_id
		),
		
		duty_with AS
		(select duty_code, job_code, duty_name
		from tbl_duty A join tbl_job B
		on A.fk_job_code = B.job_code),
		
		post_tech_with AS
		(select fk_post_code, LISTAGG(tech_code, ',') AS tech_code
		from tbl_post_tech A join tbl_tech B
		on A.fk_tech_code = B.tech_code
		group by fk_post_code)
		
		select company_id, fk_region_detail_code, name, company_code, fk_region_code, region_name,
		      region_detail_code, region_detail_name, post_code, fk_company_id, fk_duty_code,
		      career, subject, info, image, createday, salary, mainduty, quality, deadline,
		      viewcount, pay_status, job_code
		from company_post_with A join region_with B
		on A.fk_region_detail_code = B.region_detail_code
		join duty_with C
		on A.fk_duty_code = C.duty_code
		join post_tech_with D
		on A.post_code = D.fk_post_code
		where 1=1
		 and TO_CHAR(createday, 'yy/mm/dd') &lt; TO_CHAR(sysdate+1, 'yy/mm/dd')
		 and TO_CHAR(deadline, 'yy/mm/dd') >= TO_CHAR(sysdate, 'yy/mm/dd')

		<if test="job_code != null and job_code.size() > 0">
            AND job_code IN
            <foreach item="job" collection="job_code" open="(" separator="," close=")">
                #{job}
            </foreach>
        </if>
        <if test="duty_code != null and duty_code.size() > 0">
            AND duty_code IN
            <foreach item="duty" collection="duty_code" open="(" separator="," close=")">
                #{duty}
            </foreach>
        </if>
        <if test="tech_code != null and tech_code.size() > 0">
            AND (
            <foreach item="tech" collection="tech_code" open="" separator="or" close="">
               tech_code like  '%'|| #{tech} ||'%'
            </foreach>
            )
        </if>
        
        
	</select>


</mapper>